<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.jxc.dao.DamageListDao">

    <insert id="save" useGeneratedKeys="true" keyColumn="damage_list_id" keyProperty="damageListId">
        insert into t_damage_list(damage_list_id, damage_number, damage_date, remarks, user_id)
        values (null,
                #{damageNumber},
                #{damageDate},
                #{remarks},
                #{userId})
    </insert>

    <select id="list" resultType="com.atguigu.jxc.entity.DamageList">
        select *
        from t_damage_list
        where damage_date between #{sTime} and #{eTime}
    </select>
</mapper>
