<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.GoodsDao">

    <resultMap id="BaseResultMap" type="com.atguigu.jxc.entity.Goods" autoMapping="true">
        <result column="goods_id" property="goodsId"/>
        <result column="goods_code" property="goodsCode"/>
        <result column="goods_name" property="goodsName"/>
        <result column="inventory_quantity" property="inventoryQuantity"/>
        <result column="min_num" property="minNum"/>
        <result column="goods_model" property="goodsModel"/>
        <result column="goods_producer" property="goodsProducer"/>
        <result column="purchasing_price" property="purchasingPrice"/>
        <result column="last_purchasing_price" property="lastPurchasingPrice"/>
        <result column="remarks" property="remarks"/>
        <result column="selling_price" property="sellingPrice"/>
        <result column="state" property="state"/>
        <result column="goods_unit" property="goodsUnit"/>
        <result column="goods_type_id" property="goodsTypeId"/>
    </resultMap>

    <select id="getMaxCode" resultType="java.lang.String">
        SELECT MAX(goods_code)
        FROM t_goods
    </select>

    <select id="getGoodsCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        t_goods
        <where>
            <if test="codeOrName != null and codeOrName != ''">
                or goods_code like CONCAT('%', #{codeOrName} ,'%')
            </if>
            <if test="codeOrName != null and codeOrName != ''">
                or goods_name like CONCAT('%', #{codeOrName} ,'%')
            </if>
            <if test="goodsTypeId != null and goodsTypeId != ''">
                or goods_type_id = #{goodsTypeId}
            </if>
        </where>
    </select>

    <select id="getGoodsList" resultMap="BaseResultMap">
        select g.goods_id,
        g.goods_code,
        g.goods_name,
        g.inventory_quantity,
        g.last_purchasing_price,
        g.min_num,
        g.goods_model,
        g.goods_producer,
        g.purchasing_price,
        g.remarks,
        g.selling_price,
        t.goods_type_state as state,
        g.goods_unit,
        g.goods_type_id,
        t.goods_type_name
        from t_goods as g
        left join t_goods_type as t
        on g.goods_type_id = t.goods_type_id
        <where>
            <if test="codeOrName != null and codeOrName != ''">
                or g.goods_code like CONCAT('%', #{codeOrName} ,'%')
            </if>
            <if test="codeOrName != null and codeOrName != ''">
                or g.goods_name like CONCAT('%', #{codeOrName} ,'%')
            </if>
            <if test="goodsTypeId != null and goodsTypeId != ''">
                or g.goods_type_id = #{goodsTypeId}
            </if>
        </where>
        LIMIT #{offSet}, #{rows}
    </select>


</mapper>
