<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.jxc.dao.OverflowListDao">

    <insert id="save" useGeneratedKeys="true" keyColumn="overflow_list_id" keyProperty="overflowIListId">
        insert into t_overflow_list(overflow_list_id, overflow_number, overflow_date, remarks, user_id)
        VALUES (null,
                #{overflowNumber},
                #{overflowDate},
                #{remarks},
                #{userId})
    </insert>

    <select id="list" resultType="com.atguigu.jxc.entity.OverflowList">
        select *
        from t_overflow_list
        where overflow_date between #{sTime} and #{eTime}
    </select>
</mapper>
